<br><br>
<div class="header bg-primary mt-3">
    <h1 class="p-2">EXPLOURE ANGULAR RESOURCES</h1>
</div><br><br>
<div class="container  text-center">
    <div class="row">
<div class="col-lg-4  col-md-4">
    <button class="btn btn-primary px-5">
        <a routerLink="/resources">DEVELOPMENT</a>
    </button>
</div>

<div class="col-lg-4 col-md-4">
    <button class="btn btn-primary px-5">
        <a routerLink="/education">EDUCATION</a>
    </button>
</div>
<div class="col-lg-4 col-md-4">
    <button class="btn btn-primary px-5">
        <a routerLink="/community">COMMUNITY</a>
    </button>
</div>
</div>
</div><br><br>
<!-- this is the DEVELOPMENT section -->

<div class="container">
    
        <!-- the first section  -->
        <div class="container-fluid largepart ">
            <div class="heading">
                <h2>Books</h2>
            </div>
            <div class="smallpart mb-0 ">
                <h3>
                    Angular projects - Second Editions
                </h3>
                <p>
                    Build modern web apps by exploring Angular with 10 different projects and cutting-edge technologies                </p>
            </div>
            <div class="smallpart mb-0 ">
                <h3>
                    Angular Router
                </h3>
                <p>
                    This book is a comprehensive guide to the Angular router written by its designer. The book explores the library in depth, including the mental model, design constraints, subtleties of the API.                </p>
            </div>
            <div class="smallpart mb-0 ">
                <h3>
                    Angular - Bush (German)
                </h3>
                <p>
                    The first German book about Angular. It gives you a detailed practical overview of the key concepts of the platform. In each chapter a sample application is built upon with a new Angular topic. All sources are available on GitHub.                </p>
            </div>
            <div class="smallpart mb-0 ">
                <h3>
                Architecting Angular Applications with NGRX
                </h3>
                <p>
                How to build Angular applications using NGRX   
                         </p>
            </div>
            <div class="smallpart mb-0 ">
                <h3>
                Becoming a Ninja with Angular 
                </h3>
                <p>
                    This ebook will help you getting the philosophy of the framework: what comes from 1.x, what has been introduced and why                 </p>
            </div>
            <div class="smallpart mb-0 ">
                <h3>
                Developing with Angular  
                </h3>
                <p>
                    Practical journey with Angular framework, ES6, TypeScript, webpack and Angular CLI.
                     </p>
            </div>
            <div class="smallpart mb-0 ">
                <h3>
                Essential with Angular 
                </h3>
                <p>
                    The book is a short, but at the same time, fairly complete overview of the key aspects of Angular written by its core contributors Victor Savkin and Jeff Cross. The book will give you a strong foundation. It will help you put all the concepts into right places. So you will get a good understanding of why the framework is the way it is.
                                  </p>
            </div>
            <div class="smallpart mb-0 ">
                <h3>
                How to integrate ButterCMS into Angular 2+ App  
                </h3>
                <p>
                    Integrate a Headless CMS into your Angular App, create blog posts and pages    
                </p>
            </div>
            
        </div>

        <!-- the second section  -->
        <div class="container-fluid largepart ">
            <div class="heading">
                <h2>Work shops & Onsite Training</h2>
            </div>
            <div class="smallpart mb-0 ">
                <h3>
                    Accelebrate
                </h3>
                <p>
                    Customized , Instructor-Led Angular Training 
                           </p>
            </div>
            <div class="smallpart mb-0 ">
                <h3>
                    Angular Academy (Canada)
                </h3>
                <p>
                    Angular Academy is a two day hands-on public course given in-person acroos Canada!
                        </p>
            </div>
            <div class="smallpart mb-0 ">
                <h3>
                    Angular - Bush (German)
                </h3>
                <p>
                    The first German book about Angular. It gives you a detailed practical overview of the key concepts of the platform. In each chapter a sample application is built upon with a new Angular topic. All sources are available on GitHub.                </p>
            </div>
            <div class="smallpart mb-0 ">
                <h3>
                Angular Architects (German and English)
                </h3>
                <p>
                    In-depth training and consulting with focus on enterprise-scale Angular applications and architecture (remote, on-site company trainings, and public workshops). We also blog about these topics on a regular basis.   
                         </p>
            </div>
            <div class="smallpart mb-0 ">
                <h3>
                Angular Boot Camp
                </h3>
                <p>
                    Angular Boot Camp covers introductory through advanced Angular topics. It includes extensive workshop sessions, with hands-on help from our experienced developer-trainers. We take developers or teams from the beginnings of Angular understanding through a working knowledge of all essential Angular features.                      </p>
            </div>
            <div class="smallpart mb-0 ">
                <h3>
                 Angular Training  
                </h3>
                <p>
                    Angular Trainings delivered by Zenika (FRANCE)
                     </p>
            </div>
            <div class="smallpart mb-0 ">
                <h3>
                 Angular UNIVERSITY 
                </h3>
                <p>
                A website to learn and keep up with the Angular ecosystem .
                                  </p>
            </div>
            <div class="smallpart mb-0 ">
                <h3>
                Angular.de (German) 
                </h3>
                <p>
                    Onsite Angular Training delivered by the greatest community in the german speaking area in Germany, Austria and Switzerland. We also regularly post articles and tutorials on our blog.
                </p>
            </div>
            <div class="smallpart mb-0 ">
                <h3>
                Chariot Solutions
                </h3>
                <p>
                    Private Angular Training and Mentoring .
                </p>
            </div>
            <div class="smallpart mb-0 ">
                <h3>
                Decoded Frontend  
                </h3>
                <p>
                    Youtube Channel about Angular & Web Development 
                </p>
            </div>
            <div class="smallpart mb-3 ">
                <h3>
                Formation Angular (French)
                </h3>
                <p>
                    Angular trainings delivered by Human Coders (France)
                </p>
            </div>
            
        </div>
        
</div>