
<div class="bg-primary ">
<div class="container p-3 w-100">
    <table class="table text-center p-3">
        <thead>
            <tr>
                <td><a routerLink="resources">RESOURSES</a></td>
                <td><a href="#">Help</a></td>
                <td><a routerLink="community">COMMUNITY</a></td>
                <td><a href="#">LANGUAGES</a></td>
            </tr>
        </thead>
        <tbody>
           
          <tr>
            <td><a routerLink="about">ABOUT</a></td>
            <td><a href="https://stackoverflow.com/">Stack Overflow</a></td>
            <td><a routerLink="events">Events</a></td>
            <td><a href="#">Español</a></td>
          </tr>
          <tr>
            
            <td ><a href="#">Resource Listing</a></td>
            <td ><a href="#">Join Discord</a></td>
            <td ><a href="#">Meetups</a></td>
            <td ><a href="#">简体中文版</a></td>
            
          </tr>
          <tr>
            
            <td ><a href="#">Press Kit</a></td>
            <td ><a href="#">Gitter</a></td>
            <td ><a href="https://www.twitter.com">Twitter</a></td>
            <td ><a href="#">正體中文版</a></td>
            
          </tr>
          <tr>
            
            <td ><a routerLink="blog">Blog</a></td>
            <td ><a href="#">Report Issues</a></td>
            <td ><a href="#">GitHub</a></td>
            <td ><a href="#">日本語版</a></td>
            
          </tr>
          <tr>
            
            <td ><a href="#">Usage Analytics</a></td>
            <td ><a href="#">Code of Conduct </a></td>
            <td ><a href="#">Contribute</a></td>
            <td ><a href="#">한국어</a></td>
            
          </tr>
        </tbody>
      </table>
</div>
<div class="container text-center ">
<p>Super-powered by Google ©2010-2022.</p>
<p>Code licensed under an MIT-style License. Documentation licensed under CC BY 4.0.</p>
<p>Version 14.0.1-local+sha.b20e470704.</p>
<p> 
  <span>&copy;</span>CopyRight   Reserved to <span class="bg-danger p-2 rounded-2">SEIF ELFAGGAL</span>
</p>
</div><br><br>
</div>
