<nav class="navbar navbar-expand-lg bg-primary my-edit w-100" style="z-index: +2222;">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="features">
          <img src="assets/angularlogo.PNG" class="rounded-2" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <h1 class="text-white">N</h1>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="features">FEATURES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="docs">DOCS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="resources">RESOURCES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="events">EVENTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="blog">BLOG</a>
          </li>
          
          
          
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2 rounded-pill" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success btn-danger" type="submit">Search</button>
        </form>

      </div>
    </div>
  </nav>