<br><br><br>
<div class="container my-5">
    <div class="row">
        <div class="col-lg-2 col-md-12 ">
            <ul>
                <li><a routerLink="/introduction">Introduction</a></li><hr>
                <!-- ================================================================ -->
                <!-- this is the sidebar dropdown -->
                <li class="btn-group">
                  <a class=" dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" href="#">Getting Started</a>
                  <ul class="dropdown-menu">
                    <li><a class="p-3" routerLink="/whatisangular">What is Angular?</a></li><hr>
                    <li><a class="p-3" routerLink="/setup">Setup</a></li><hr>
                  </ul>
                    </li>
                    <!-- end of the sidebar drop down  -->
<!-- ====================================================================== -->
                <hr>
                
                    <!-- this is the sidebar dropdown -->
                 <li class="btn-group">
                    <a class=" dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" href="#">Understanding Angular</a>
                    <ul class="dropdown-menu p-2">
                      <li><a routerLink="/overview">Overview</a></li><hr>
                      <li><a routerLink="/components">Components</a></li><hr>
                      <li><a routerLink="/templates">Templates</a></li><hr>
                      
                    </ul>
                      </li>
                      <!-- end of the sidebar drop down  -->
                <hr>
            </ul>
        </div>
        <div class="col-lg-10 col-md-12">
            <div class="container">
                <div class="p-3">
                    <h4>Understanding Angular</h4>
                <p>
                    To understand the capabilities of the Angular framework, you need to learn about the following:
                </p>
                <ul class="disclist">
                    <li>
                        Components
                    </li>
                    <li>
                        Templates
                    </li>
                    <li>
                        Directives
                    </li>
                    <li>
                        Dependency Injection
                    </li>
                </ul>
                <p>
                    The topics in this section explain these features and concepts, and how you can use them.
                </p>
                </div><hr>
                <div class="p-3">
                    <h4>Prerequisites</h4>
                    <p>
                        To get the most out of these developer guides, you should review the following topics:
                    </p>
                    <ul class="disclist">
                        <li><a href="#">What is Angular</a></li>
                        <li><a href="#">Getting Started Tutorial</a></li>
                    </ul>
                </div><hr>
                <div class="p-3 container">
                    <h4>Learn about Angular basics </h4><br><br>
                    <div class="row">
                        <div class="col-lg-5 m-2" style="z-index: -222222;">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                  <h5 class="card-title text-primary">Components</h5>
                                  <p class="card-text">
                                      Learn about Angular component . A component is a key building block of Angular development .
                                  </p>
                                  <a href="#" class="card-link">Components</a>
                                </div>
                              </div>
                        </div>
                        <div class="col-lg-5 m-2" style="z-index: -222222;">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                  <h5 class="card-title text-primary">Templates</h5>
                                  <p class="card-text">
                                      Learn about how to build an Angular template .
                              </p>          
                                  <a href="#" class="card-link ">Templates</a>
                                </div>
                              </div>
                        </div>
                        <div class="col-lg-5 m-2" style="z-index: -222222;">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                  <h5 class="card-title text-primary">Directives</h5>
                                  <p class="card-text">
                                      Learn about Angular directives . A directive is a class that adds additional behavior to elements in your Angular applications  
                              </p>          
                                  <a href="#" class="card-link ">Directives</a>
                                </div>
                              </div>
                        </div>
                        <div class="col-lg-5 m-2" style="z-index: -222222;">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                  <h5 class="card-title text-primary">Dependency Injection</h5>
                                  <p class="card-text">
                                Learn about  dependency Injection . <br>
                                Dependency injection refers to services or objects that a class needs to perform a specific function .
                              </p>          
                                  <a href="#" class="card-link ">Dependency Injection</a>
                                </div>
                              </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>