<br><br><br>
<div class="container my-5">
    <div class="row">
        <div class="col-lg-2 col-md-12  p-2">
            <ul>
                <li><a routerLink="/introduction">Introduction</a></li><hr>
                 <!-- ================================================================ -->
                <!-- this is the sidebar dropdown -->
                <li class="btn-group">
                    <a class=" dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" href="#">Getting Started</a>
                    <ul class="dropdown-menu">
                      <li><a routerLink="/whatisangular">What is Angular?</a></li><hr>
                      <li><a routerLink="/setup">Setup</a></li><hr>
                    </ul>
                      </li>
                      <!-- end of the sidebar drop down  -->
  <!-- ====================================================================== --><hr>
  <!-- this is the sidebar dropdown -->
  <li class="btn-group">
    <a class=" dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" href="#">Understanding Angular</a>
    <ul class="dropdown-menu p-2">
      <li><a routerLink="/overview">Overview</a></li><hr>
      <li><a routerLink="/components">Components</a></li><hr>
      <li><a routerLink="/templates">Templates</a></li><hr>
    </ul>
      </li>
      <!-- end of the sidebar drop down  -->              
  <hr>
                
            </ul>
        </div>
        <!-- this is the first div -->
        <div class="col-lg-10 col-md-12  text-center">
            <div>
                <h1>Introduction to the Angular Docs</h1>
                <p class="p-3">
                    Angular is an application design framework and development platform for creating efficient and sophisticated single-page apps.
<br>
These Angular docs help you learn and use the Angular framework and development platform, from your first application to optimizing complex single-page apps for enterprises. Tutorials and guides include downloadable examples to accelerate your projects.
                </p>
            </div><hr>
           <!-- the assumption section -->
    <div>
        <h1>Assumptions</h1>
        <p class="p-3">
            These docs assume that you are already familiar with <a href="#">HTML</a>,
             <a href="#">CSS</a>, <a href="#">JavaScript</a>, and some of the tools from the <a href="#">latest standards</a>, such as <a href="#">classes</a> and <a href="#">modules</a>. The code samples are written using <a href="#">TypeScript</a>. Most Angular code can be written
              with just the latest JavaScript, using <a href="#">types</a> for dependency injection, and using <a href="#">decorators</a> for metadata.
        </p>
    </div><hr>
    <!-- the feedback section -->
    <div>
        <h1>Feedback</h1>
        <h3>You can sit with us </h3>
        <p class="p-3">
            We want to hear from you. <a href="#">Report problems or submit suggestions for future docs</a>.

            Contribute to Angular docs by creating <a href="#">pull requests</a> on the Angular Github repository. See <a href="#">Contributing to Angular</a> for information about submission guidelines.
            
            Our community values respectful, supportive communication. Please consult and adhere to the <a href="#">Code of Conduct</a>
        </p>
    </div>
        </div>
    </div>
</div>