<br><br><br>
<div class="container my-5">
    <div class="row">
        <div class="col-lg-2 col-md-12 ">
            <ul>
                <li><a routerLink="/introduction">Introduction</a></li><hr>
                <!-- ================================================================ -->
                <!-- this is the sidebar dropdown -->
                <li class="btn-group">
                  <a class=" dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" href="#">Getting Started</a>
                  <ul class="dropdown-menu p-2">
                    <li><a routerLink="/whatisangular">What is Angular?</a></li><hr>
                    <li><a routerLink="/setup">Setup</a></li><hr>
                  </ul>
                    </li>
                    <!-- end of the sidebar drop down  -->
<!-- ====================================================================== -->
                <hr>
                  <!-- this is the sidebar dropdown -->
                  <li class="btn-group">
                    <a class=" dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" href="#">Understanding Angular</a>
                    <ul class="dropdown-menu p-2">
                      <li><a routerLink="/overview">Overview</a></li><hr>
                      <li><a routerLink="/components">Components</a></li><hr>
                      <li><a routerLink="/templates">Templates</a></li><hr>
                      
                    </ul>
                      </li>
                      <!-- end of the sidebar drop down  -->
                <hr>
            </ul>
        </div>
        <div class="col-lg-10 col-md-12 ">
           <div class="container">
             <h4>Setting up the local environment and workspace</h4>
             <p>
              This guide explains how to set up your environment for Angular development using the <a href="#">Angular CLI tool</a>. It includes information about prerequisites, installing the CLI, creating an initial workspace and starter app, and running that app locally to verify your setup
             </p>
             <img src="assets/setup/setup1.PNG" alt="screenshot" class="w-100"><hr>
             <h4>Prerequisites</h4>
             <p>
              To use the Angular framework, you should be familiar with the following:
             </p>
             <ul style="list-style: disc;">
               <li><a href="#">JAVASCRIPT</a></li>
               <li><a href="#">HTML</a></li>
               <li><a href="#">CSS</a></li>
             </ul>
             <p>Knowledge of <a href="#">TypeScript</a> is helpful, but not required.</p>
             <p>To install Angular on your local system, you need the following:</p>
             <img src="assets/setup/setup2.PNG" alt="screenshot" class="w-100"><hr>
             <h4>Install the Angular CLI</h4>
             <p>
              You use the Angular CLI to create projects, generate application and library code, and perform a variety of ongoing development tasks such as testing, bundling, and deployment.
             </p>
             <p>
              To install the Angular CLI, open a terminal window and run the following command:
             </p>
             <img src="assets/setup/setup3.PNG" alt="screenshot" class="w-100"><br>
             <img src="assets/setup/setup4.PNG" alt="screenshot" class="w-100"><hr>
             <h4>
              Create a workspace and initial application
             </h4>
             <p>
              You develop apps in the context of an Angular <a href="#">workspace</a>.
             </p>
             <p>
              To create a new workspace and initial starter app:
             </p>
             <ul style="list-style:decimal;">
               <li>
                 <p>Run the CLI command ng new and provide the name my-app, as shown here:</p>
                 <img src="assets/setup/setup5.PNG" alt="screenshot" class="w-100">
               </li>
               <li>
                The <span class="bg-light">ng new</span> command prompts you for information about features to include in the initial app. Accept the defaults by pressing the Enter or Return key.
               </li>
             </ul>
             <p>
              The Angular CLI installs the necessary Angular npm packages and other dependencies. This can take a few minutes.
             </p>
             <p>
              The CLI creates a new workspace and a simple Welcome app, ready to run.
             </p><hr>
             <h4>
              Run the application
             </h4>
             <p>
              The Angular CLI includes a server, for you to build and serve your app locally.
             </p>
             <ul style="list-style: decimal;">
               <li>
                Navigate to the workspace folder, such as <span class="bg-light">my-app</span>.
               </li>
               <li>
                Run the following command:
               </li>
               <img src="assets/setup/setup6.PNG" alt="screenshot" class="w-100">
             </ul>
             <p>
              The ng serve command launches the server, watches your files, and rebuilds the app as you make changes to those files.
             </p>
             <p>
              The <span class="bg-light">--open</span> (or just <span class="bg-light">-o</span> ) option automatically opens your browser to <span class="bg-light">http://localhost:4200/</span>.
             </p>
             <p>
              If your installation and setup was successful, you should see a page similar to the following.
             </p>
             <img src="assets/setup/setup7.PNG" alt="screenshot" class="w-100"><hr>
             <h4>
              Next steps :
             </h4>
             <ul style="list-style: disc;">
               <li>
                For a more thorough introduction to the fundamental concepts and terminology of Angular single-page app architecture and design principles, read the <a href="#">Angular Concepts</a> section.
               </li>
               <li>
                Work through the <a href="#">Tour of Heroes Tutorial</a>, a complete hands-on exercise that introduces you to the app development process using the Angular CLI and walks through important subsystems.
               </li>
               <li>
                To learn more about using the Angular CLI, see the <a href="#">CLI Overview</a>. In addition to creating the initial workspace and app scaffolding, use the CLI to generate Angular code such as components and services.
               </li>
               <li>
                For more information about the Angular files generated by <span class="bg-light">ng new</span>, see <a href="#">Workspace and Project File Structure</a>.
               </li>
             </ul>
           </div>
        </div>
    </div>
</div>


<!-- 
                    <div class="btn-group">
                        <button class=" dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Large button
                        </button>
                        <ul class="dropdown-menu">
                          <li><a href="#">link</a></li>
                        </ul>
                        </div> -->