<br><br>
<div class="header bg-primary mt-3">
    <h1 class="p-2">EXPLOURE ANGULAR RESOURCES</h1>
</div><br><br>
<div class="container  text-center">
    <div class="row">
<div class="col-lg-4  col-md-4">
    <button class="btn btn-primary px-5">
        <a routerLink="/resources">DEVELOPMENT</a>
    </button>
</div>

<div class="col-lg-4 col-md-4">
    <button class="btn btn-primary px-5">
        <a routerLink="/education">EDUCATION</a>
    </button>
</div>
<div class="col-lg-4 col-md-4">
    <button class="btn btn-primary px-5">
        <a routerLink="/community">COMMUNITY</a>
    </button>
</div>
</div>
</div><br><br>
<!-- this is the DEVELOPMENT section -->
<div class="container ">
   <!-- the first section  -->
   <div class="container-fluid largepart ">
    <div class="heading">
        <h2>Community Curations</h2>
    </div>
    <div class="smallpart mb-0 ">
        <h3>
     Angular Builders
        </h3>
        <p>
            A Collection of Angular builders for your Angular projects 
        </p>
    </div>
    <div class="smallpart mb-0 ">
        <h3>
            Angular Community Meetup
        </h3>
        <p>
            Come learn technical skills and network at this monthly, multi-series, multi-event, multi-timezone online meetup.        </p>
    </div>
    <div class="smallpart mb-0 ">
        <h3>
            Angular Conferences and Angular camps in Moscow , Russia 
        </h3>
        <p>
            Angular-RU Community on GitHub is a single entry point for all resources, chats, podcasts and meetups for Angular in Russia.        </p>
    </div>
    <div class="smallpart mb-0 ">
        <h3>
        Angular inDepth
        </h3>
        <p>
            Peer-reviewed Angular articles and tutorials.    
            </p>
    </div>
    <div class="smallpart mb-0 ">
        <h3>
        Angular Nation
        </h3>
        <p>
            Angular Nation is a free private network created for Angular developers to network, collaborate, and ask questions.        </p>
    </div>
    <div class="smallpart mb-0 ">
        <h3>
        Angular Subreddit
        </h3>
        <p>
            An Angular-dedicated subreddit .
            </p>
    </div>
    <div class="smallpart mb-0 ">
        <h3>
        API Based CMS with Butter
        </h3>
        <p>
            Add API Based CMS to your Angular app .
            </p>
    </div>
    
</div>   

   <!-- the second section  -->
   <div class="container-fluid largepart ">
    <div class="heading">
        <h2>Podcasts</h2>
    </div>
    <div class="smallpart mb-0 ">
        <h3>
     Adventures in Angular 
        </h3>
        <p>
            Adventures in Angular is a weekly podcast dedicated to the Angular platform and related technologies, tools, languages, and practices.        </p>
    </div>
    <div class="smallpart mb-0 ">
        <h3>
            Angular Experience (NgXP)
        </h3>
        <p>
            Weekly technical-adjacent podcast by Brooke Avery &amp; Erik Slack. Don't just code in Angular, come enjoy the Angular Experience!        </p>
    </div>
    <div class="smallpart mb-0 ">
        <h3>
            Angular Rocks
        </h3>
        <p>
            Podcast for those who want to know more about Angular 
             </p>
    </div>
    <div class="smallpart mb-0 ">
        <h3>
        AngularAir
        </h3>
        <p>
            Weekly video podcast hosted by Jeff Whelpley with all the latest and greatest happenings in the wild world of Angular .
            </p>
    </div>
    <div class="smallpart mb-0 ">
        <h3>
        Happy Angular 
        </h3>
        <p>
            A weekly German podcast for Angular on the go .
               </p>
    </div>
    <div class="smallpart mb-0 ">
        <h3>
        NgRuAir
        </h3>
        <p>
            Russian  language video podcast about Angular .
            </p>
    </div>
    <div class="smallpart mb-3 ">
        <h3>
        The Angular Show 
        </h3>
        <p>
            ng-conf's official all-Angular podcast 
            </p>
    </div>
    
</div>   

</div>